.footer-widget {
    background-color: #152136;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-widget {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .footer-widget {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.footer-content p {
    color: #fff;
    margin-top: 35px;
}

.footer-content ul {
    margin-top: 35px;
}

.footer-content ul li {
    display: inline-block;
    margin: 0 14px;
}

@media (max-width: 767px) {
    .footer-content ul li {
        margin: 0 7px;
    }
}

.footer-content ul li a {
    font-size: 30px;
    width: 74px;
    height: 70px;
    line-height: 74px;
    text-align: center;
    border-radius: 50%;
    color: #bebebe;
    background-color: #1c2940;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .footer-content ul li a {
        width: 52px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
}

.footer-content ul li a:hover {
    background-color: #3333cc;
    color: #fff;
}

.footer-copyright {
    background-color: #1c2940;
}

.footer-copyright .copyright-text p {
    color: #fff;
}